[2016-10-20 11:22] garrows opened #1 "Camp.js IX/2017"
Apologies if this has kicked off elsewhere. I'm sure our fearless leader @DamonOehlman is on top of things but how can I and other's help?

[2016-10-24 09:19] DamonOehlman commented on #1
Hey Glen - I've stepped back for this one.  Though I know Craig Sharkie is on the case, and we've had some interest for hosting the next one in NZ :)

[2016-10-24 20:23] garrows commented on #1
Sorry to see you go. Thank you for putting on a great campjs.

[2016-10-24 20:23] #1 closed, assigned to nobody

[2017-04-23 11:40] garrows opened #2 "CampJS VIII"
Good news everybody. We are getting the Camp.js show back on the road. Nothing is booked in yet but we are aiming for **Melbourne/Lord Somers Camp, August 4th - 7th.**

There has been some organisation in the past on slack but we are moving back to github in an effort to keep things open and encourage community help/collaboration.

The main areas to organise at this point are:

- [x] Venue https:/

[2017-04-23 11:47] garrows opened #3 "Venue"
I'll be attempting to lock in Lord Somers Camp in August next week.

I understand they require a downpayment to lock it in. Hopefully we can get a weekend soft booked so we can raise some funds beforehand.

Any weekends I should avoid in August?

[2017-04-23 11:53] garrows opened #4 "Tickets"
Note we don't have a date locked in until https://github.com/campjs/campjs-next/issues/3 is done but the setup can begin.

In the past we have used https://ti.to which has worked well but are there any newer services that charge less?

[2017-04-23 12:00] garrows opened #5 "Sponsors"
Prospectus:
https://github.com/campjs/campjs-next/blob/gh-pages/org/sponsorship/campjs_viii_sponsor_plus.pdf

Items to sponsor:
* Busses (Mozilla)
* Coffee (Lookahead Search)
* Drinks
* Internet (Digital8 and possibly TokBox?)
* Swag
* Diversity/disadvantaged tickets (Lookahead Search)
* Possibly childcare (funcaptcha.com)
* Videos (RedBubble)

[2017-04-23 12:08] garrows opened #6 "Website"
Our amazing [vii](http://vii.campjs.com/about/) website was created by the talented @lukebrooker. I understand we are all busy people but @lukebrooker, would you be interested in working on the next site? If so, would you like to start fresh or modify what we already have?

@SomeoneWeird has DNS access for when we are ready.

[2017-04-23 12:22] garrows opened #7 "Transport/Buses"
I believe @timoxley kindly organised the buses for the last Melbourne event. I know it's difficult to organise from Singapore so it'd be good to get some volunteers.

@timoxley can you dump any information you have?

This [excerpt](http://v.campjs.com/#information) might help with anyone organising the details:
"A bus will be provided to take attendees to and from the venue. It will travel from Tu

[2017-04-23 13:18] garrows opened #8 "Financials"
There is approximately $12K left over from previous events that @DamonOehlman is holding in trust. We'd like to put this into some sort of group bank account. All of it will probably go to securing the venue. If more is money required for the venue, the plans is to source short term loans from kind individuals.

Has anyone setup a group account before? How does it work? What protections do we have

[2017-04-23 13:20] garrows opened #9 "Speakers"
I see we have fork of OpenCFP. Has this worked well in the past?

[2017-04-23 13:35] garrows opened #10 "Inventory"
We should compile an inventory list.

@timoxley believes most of it is with @digitalcraft in Brisbane.
@eugeneware perhaps has some in Melbourne.
@AnnaGerber has some robotics/electronics/IoT stuff.
@iamkevinv might have or know the location of some more stuff.
@joshwnj has 2 Aldi pod coffee machines in Melbourne.

[2017-04-23 13:39] garrows opened #11 "Internet"
I present a copy/paste from @timoxley:

The last Melbourne camp was run entirely off 4G. We pulled down ~300 gigabytes over the weekend. Remarkably, this single 4G connection was able to provide decent internet service to the entire camp. We did block a bunch of things to help reduce the load, like video streaming and backup services and there was an annoying limitation imposed by the 4G carrier t

[2017-04-23 13:56] SomeoneWeird commented on #11
@digitalcraft ran internet at our last camp and did a fantastic job. We should try and see if he's available again to help out

[2017-04-23 13:57] SomeoneWeird commented on #10
cc @digitalcraft

[2017-04-23 13:59] SomeoneWeird commented on #4
We got in contact with ti.to last time and they offered to give us a discount the next time, we should def look into using that if we end up going with them again

[2017-04-23 20:57] garrows commented on #3
@timoxley you organised this for the last camp in Melbourne. Are you able to find how much they charged? Was payment required in full?

[2017-04-23 21:50] digitalcraft commented on #10
WRT networking equipment. I'm generally the caretaker of it.
I've recently loaned it out to Rails Camp via (Tom Ridge)

[2017-04-23 21:53] digitalcraft commented on #11
I'm currently available to do this and can confirm this when dates are released.

[2017-04-23 23:31] AnnaGerber commented on #10
Yes, from memory there are around 15 Arduino starter kits that are with the NodeBots BNE gear

[2017-04-24 00:23] lukebrooker commented on #6
I'll see what I can think of. As usual, I don't have a lot of extra time and I can't attend in July as we have another baby due in July. Worst case we can update the old website with new details.

Conceptually it's not quite the same as it's not on an Island. But it is still near water 😄

Happy for someone else to pick this up if they are passionate about it. All good to work it out if they don't

[2017-04-24 03:30] garrows commented on #6
Thanks @lukebrooker. We're looking at putting it on in August so you can bring your family 😃

Anyone you would like to dob in to help on the site?

[2017-04-24 08:12] garrows commented on #3
@twalve can you dump any details as well when you get a chance please?

[2017-04-26 01:03] garrows commented on #3
We are tentatively booked from Fri, August 4, 2017 – Mon, August 7, 2017 which is when @twalve had setup. They are sending me all the details this afternoon for finalisation.

[2017-04-26 01:25] garrows commented on #3
[General Conditions of Hire 2016.pdf](https://github.com/campjs/campjs-next/files/956964/General.Conditions.of.Hire.2016.pdf)
[Camp JS Aug 2017 Camp Booking Form.pdf](https://github.com/campjs/campjs-next/files/956965/Camp.JS.Aug.2017.Camp.Booking.Form.pdf)

[2017-04-26 01:46] SomeoneWeird commented on #3
$31.5k less $12k in bank would be $160/person to breakeven just for venue

[2017-04-26 11:35] garrows commented on #3
Without going into the red, it'd be $262.90 (inc GST) per person which includes meals and accommodation. Not bad at all in my opinion.

I'll get the venue to fix up the contract with my contact details and I'll sign & pay the deposit ($3,154) ASAP.

[2017-04-26 11:56] garrows commented on #4
Regarding pricing, the venue will cost $262.90 per person.

From the camps I attended and could find receipts for:
III - Melb - $376 (Alumni discount)
IV - Bris - $290 (Early Early Early Bird)
V - Melb - $320 (Early Early Early Bird)
VI - Bris - $330 (Full price?)
VII - Syd - $350 (Early Bird)

At this point I don't have pricing/estimates on shirts, alcohol, buses, sponsors, etc so based on histor

[2017-04-26 12:35] garrows commented on #6
Sorry @lukebrooker but I cleaned the slate in preparation for IX. I want to get early bird tickets up by the end of the weekend so I needed something basic/ugly.

@SomeoneWeird can you update the DNS for ix.campjs.com please?

[2017-04-26 20:37] garrows opened #12 "Pay Invoice: Venue Deposit"
Hey @DamonOehlman. I'll try to see the bank ASAP about organising a joint account but in the meantime could you please pay the following invoice.

[code]

Record kept here:
https://github.com/campjs/campjs-next/blob/gh-pages/org/invoices.json#L3-L13

[2017-04-26 20:57] garrows commented on #5
@developersteve is great at getting money from people. I'll buy him a coffee this morning and hopefully that'll turn into a large sum of sponsorship money.

[2017-04-26 22:03] DamonOehlman commented on #12
Sure thing, I'll take care of that today :)

[2017-04-26 22:13] DamonOehlman commented on #5
Yep, definitely happy to help coordinate this and continue to put people in touch with people :)

[2017-04-26 22:14] developersteve commented on #5
haha just saw this thread, yeah can do some intros and know some local devrel evangelists that are looking for events in the region :)

[2017-04-26 23:04] developersteve opened #13 "Sponsor proposal"
alt title sponsor.prop.js

Heres some examples of recent ones ...

Kingdom Hack
https://devstev.es/khsponsor

localhost.events
https://devstev.es/lh17sponsor

[2017-04-26 23:19] garrows commented on #5
@developersteve great to have you on board. I've granted access to the repo as well so we can collaborate on a sponsorship doc.

A couple of good examples @developersteve has provided (via slack) are:
https://s3.amazonaws.com/developersteve/wp-content/uploads/2017/04/Sponsorship-Opportunities.pdf
https://kingdomhack.com/wp-content/uploads/2017/04/KingdomHackSponsorDoc2017.pdf

Created a PR https:/

[2017-04-26 23:20] developersteve commented on #13
Duplicate

[2017-04-26 23:20] #13 closed, assigned to nobody

[2017-04-27 01:28] DamonOehlman commented on #12
Done.

[2017-04-27 01:28] #12 closed, assigned to DamonOehlman

[2017-04-27 01:30] SomeoneWeird commented on #6
Aren't we up to viii not ix? :)

[2017-04-27 02:47] SomeoneWeird commented on #6
Added viii.campjs.com

[2017-04-27 03:44] garrows commented on #6
Indeed we are up to viii.  🤦‍♂️
I've fixed it now. Our horrible placeholder landing page is up http://viii.campjs.com/

[2017-04-27 10:08] AnnaGerber commented on #2
Why CampJS-IX? What happened to CampJS-VIII? (Wasn't Sydney VII?)

[2017-04-27 10:09] KoryNunn commented on #2
Yep, it's been fixed, the sub domain is correct.

[2017-04-27 10:31] SomeoneWeird commented on #2
@garrows got a little ahead of himself ;)

[2017-05-01 00:57] developersteve commented on #6
Actually on that note @garrows thinking about prospectus and marketing came into my mind, thinking a scifi ascii aka a popular star related wars theme (see what i did there)

[2017-05-01 09:01] garrows commented on #4
Early Early Early Bird ticket is up
https://ti.to/campjs/campjs-viii

[2017-05-01 22:54] bguiz commented on #7
@garrows I'd suggest nominating a pick up point and time(-ish) for the Melbourne CBD too. Lygon street just off Melbourne Central seems like it is en route, and easy enough to get to by public transport.

[2017-05-02 11:11] garrows commented on #7
Good idea @bguiz. I don't suppose we could nominated you to organise the buses completely could we??

[2017-05-02 11:36] garrows opened #18 "Childcare"
I saw today that pyconau is providing childcare for a fee (and conflicts with our dates 😭)
https://twitter.com/pyconau/status/856992718269984768
which is an amazing idea and I think we should follow suit.

We need to:
- Find qualified childcare services
- Cost to ticket holders
- How to charge
- Announcements/Information

Thoughts?

[2017-05-03 00:47] joshwnj commented on #9
I haven't used it from an organiser's point of view, but I used it to submit to the last campjs and it was a pleasant experience.

[2017-05-03 01:29] DamonOehlman commented on #9
Yeah, I think it worked pretty well.  The main thing at that time that was lacking (IIRC) was a good way to provide submission reviewers access to the submissions with the speaker details removed. IMO it's important that a submission is reviewed based on the merits of the submission not the speaker's profile (or other aspects).

The project is still under active development though, so they might h

[2017-05-03 01:29] DamonOehlman commented on #9
Also, from what I recall set up on Digital Ocean was pretty easy too.

[2017-05-03 04:21] garrows commented on #5
I've closed https://github.com/campjs/campjs-next/pull/14 as it contains a perspectis that @twalve put together a while back. Big thanks to @twalve.

@developersteve can you have a review of the doc? https://github.com/campjs/campjs-next/blob/gh-pages/org/sponsorship/campjs_viii_sponsor_plus.pdf

@DamonOehlman also reports that RedBubble is shown interest in the past and he is pinging them again n

[2017-05-03 04:27] garrows commented on #4
The tickets are selling well. 20 of 30 sold.
I plan to release 'early early bird'  tickets after 5 talks are locked in.

[2017-05-03 04:40] garrows opened #19 "Family tickets"
Family tickets have been requested in the view-source slack by @cathy_l and @bguiz. I personally would also like to see this happen.

https://viewsource.slack.com/messages/C0EBLFDE1/convo/C0EBLFDE1-1493777742.253274/

Some copy + paste while the slack history remains

Cathy:
[code]

Activities are hard to come by but its a nice spot to relax.

1. Ticket price/prices? Most of the ticket is accomoda

[2017-05-03 05:04] bguiz commented on #19
5. Nearby things to do, sightseeing etc, and transport options for them

Doesn't have to be organised by campjs, just would be good to know what existing options there are in the area

[2017-05-03 12:03] garrows commented on #19
As @bguiz said in slack, excluding alcohol and coffee would make other people want a cheaper ticket if they didn't drink them so that was a bad idea.

[2017-05-03 13:42] garrows commented on #3
Venue deposit paid.

Signed booking form https://github.com/campjs/campjs-next/blob/gh-pages/org/invoices/Camp%20JS%20Aug%202017%20Camp%20Booking%20Form.pdf

Deposit payment receipt https://github.com/campjs/campjs-next/blob/gh-pages/org/receipts/Camp%20JS%20Aug%202017%20Deposit%20Payment%20Receipt.pdf

[2017-05-03 13:42] #3 closed, assigned to garrows

[2017-05-03 13:55] garrows commented on #9
Thanks for the feedback @damonoehlman. Despite this I've gone with creating a simple google form. I'll share the submissions once I've figured out how to automatically anonymise them.

https://goo.gl/forms/cxUh8JrQccUBzw992

Tweeted it https://twitter.com/campjsnews/status/859773266151448577 and added the link to the website. I'll also PM some people I know are interested.

[2017-05-04 00:25] cmf commented on #9
One thing that would be good to specify is whether there's any financial remuneration for accepted speakers. I'd have to come from NZ and it's probably too much of an investment to pay the whole trip myself. I assume speakers get free conference access? It's also not clear how the accommodation works for those of us that are unfamiliar with the event - is accommodation provided for speakers? Is th

[2017-05-04 07:23] cathylill commented on #19
I would do pricing like:
- Parents buy regular tickets to keep it simple and fair.
- Kids under 2 free (no childminding, parents to provide port-a-cot)
- Kids ticket for > 2yrs (venue kids p/n rate + childminding fee?)

Ask people to organise family accom options with you before booking so you can allocate rooms as you go. Last camp at Lord Somers there were family rooms in the same building that

[2017-05-04 11:32] cathylill commented on #18
Googled some providers:
http://www.dialanangel.com/child-care/creche-services
http://www.crechendo.com.au/
http://abrachild.com.au/events-mobile-pop-up-creche/
http://nannies.charltonbrown.com.au/our-services/corporate-creche/

Does anyone know who pycon are using?

[2017-05-04 12:47] garrows commented on #7
Jessica Edwards on slack pointed out that web directions code is in Melbourne on the Thursday & Friday of campjs weekend. They end with closing drinks at 5.30pm Friday. If there is enough people going to both, we should attempt to organise transport between the two.

[2017-05-04 12:51] garrows commented on #18
Thanks @cathylill! Really appreciate it. Any looking particularly good?

[2017-05-04 13:05] garrows commented on #9
Thanks @cmf. At this point I'm unsure what we can offer regarding remuneration. Waiting on more quotes, estimates and sponsorships before we can promise anything. Sorry for being unclear. We will do our best to accommodate speakers though.

Regarding the accommodation, no tent required as there are dorms. We still need to put all the information up on the new site but you can look at past camps fo

[2017-05-04 13:05] cathylill commented on #18
No idea really but I'm happy to send off some emails if you like?

[2017-05-04 13:07] garrows commented on #18
I'd really like that 😀. Momentum is faster than expected so really need help.

[2017-05-04 20:12] developersteve commented on #18
Actually i know someone (whos a qualified child care professional) from the localhostbne org team that might be interested in doing it for flights and acom. Just depends on numbers as to how many people will be needed.

[2017-05-05 02:39] cmf commented on #9
@garrows No problem, thanks for the info.

[2017-05-05 06:53] cathylill commented on #18
@developersteve cool sounds like it'd be worth asking. @garrows might be worth checking with the venue if they have any legal or insurance requirements for on-site carers. I noticed some providers mentioned that they have their own public liability insurance, carers have working with children / police checks etc.

[2017-05-05 21:08] garrows commented on #9
We have 9 talk submissions so far. Pretty good response IMHO.
Still haven't figured out a nice way to anonymise and vote on them.

[2017-05-06 23:37] DamonOehlman commented on #9
@garrows probably worth editing your comment above and `s/speakers/talk submissions/`

[2017-05-09 04:49] jsscclr commented on #7
Hi! There might not be a whole lot of people attending both Code and CampJS, but I'm sure there are quite  a few who work in Melbourne that would prefer not to take leave for the Friday.

[2017-05-15 05:33] AnnaGerber opened #22 "CampJS zine"
Here is an idea I was discussing with @iamkevinv

I think it would be cool to put together a CampJS zine - we could put a call out for people to submit content, craft it together into a zine, and then print a small run for people to take home with them as a memento

Thoughts?

[2017-05-15 05:34] iamkevinv commented on #22
+1 would zine more

[2017-05-18 21:59] garrows commented on #18
I asked about the insurance from the venue and got this back

"Regarding our insurance coverage, our policy won’t cover your child care professional as it is a contractor/service provider you have engaged yourself and not a service we are providing ourselves.
Our insurance will cover any injury caused as a result of normal use of the facility but it won’t protect you against any unsuitable conduct

[2017-05-18 22:03] garrows commented on #18
Here is the insurance policy if you're interested https://github.com/campjs/campjs-next/blob/gh-pages/org/melbourne/Policy-03.080.0269438.pdf

[2017-05-20 00:23] DamonOehlman commented on #22
Such a cool idea!

[2017-05-20 01:01] garrows commented on #4
54 tickets sold so far.

[2017-05-21 22:34] garrows commented on #7
Started getting quotes for busses.

Quote 1:
 www.kastoria.com.au 2 x 50 seat @ $660, per coach, each way, total of $2,640, includes GST.  This is based on direct transfers only.

Quote 2:
venturabus.com.au 2 x 50 seat @ $898.83, per coach, each way, total of $3,595.32, includes GST.

Quote 3:
melbournebuscompany.com.au 2 x 57 @ $1600.00 + GST per coach, total of  $3,520.00 incl. GST

[2017-05-23 20:31] garrows commented on #9
Talks have dried up. Not getting any more submissions despite some tweets asking for talks. Can anyone please help me drum up some more interest?

https://docs.google.com/forms/d/e/1FAIpQLScBE0oz48Y4KlJVF7ePeC20sJSv8Ou_5xaNHSxuo5uw7yap-w/viewform?c=0&w=1

[2017-05-23 20:43] garrows commented on #7
Depending on numbers/demand I might have to book a 3rd coach or a minibus.

[2017-05-28 20:37] #2 closed, assigned to nobody

[2017-05-28 20:40] garrows commented on #7
Kastoria has 21 seater + luggage trailer for $525 each way. Might be a good option for a final bus leaving around 6pm to catch people not taking the day off work and transfers from Web Directions.

[2017-05-28 20:40] #4 closed, assigned to nobody

[2017-05-28 20:43] garrows commented on #6
HUGE thanks goes to @lukebrooker for setting up an amazing website for us. You are a hero.

Some more content needs to be transferred over from last camps but I can do that.

[2017-05-28 20:43] #6 closed, assigned to lukebrooker

[2017-05-28 20:49] garrows commented on #8
I've spoken to Suncorp and Commonwealth banks.

We cant open a business account without the jsAustralia org/club being registered. Our only option until then is a joint personal account.

Disappointingly there are no effective protections you can put in place to protect the account.

I propose we open a joint account with debit only facilities (no debt == no risk). @MauriceButler was nominated and

[2017-05-28 20:54] garrows commented on #11
Thank you very much @digitalcraft. Confirmed from slack for those watching at home.

[2017-05-30 21:46] garrows opened #29 "Videos"
Need to book someone to record.

Last Melbourne event might have been recorded by Rodger Wang. Needs confirmation.

Has potential to be sponsored. RedBubble has shown interest.

[2017-06-01 10:33] garrows opened #30 "Copy website content"
Need a kind volunteer to copy the content (particularly the about page) into the new website. I'd recommend copying from http://v.campjs.com/ as that has Melbourne specific content.

There is some transport specific content, copy that too as I'm keeping that pretty much the same.

[2017-06-01 10:59] AshKyd commented on #30
np, will get to this on the weekend.

[2017-06-01 21:07] garrows commented on #30
You're the greatest!

[2017-06-02 03:36] cathylill commented on #18
Hey everyone, sorry been a bit busy the last couple weeks but got one reply back so far from Abracadabra Childcare Services as follows:

$40 daily fee per carer + $40 per hour per carer (minimum 2 carers, 4hrs)
0-2 years - 3 children per carer
3-6 years - 5 children per carer
7+ years - 7 children per carer

'Activities' materials such as toys, books, play mats, cushions etc is $15 extra per child

[2017-06-02 03:50] cathylill commented on #18
Oh I just realised that carer's per hour rate is GST free but booking fee and activities is +GST, so, say we had the creche 10am - 12pm and 2pm - 4pm both days for 8 - 10 kids it'd cost:
$728 (incl GST) for just the carers
+
$410 (incl GST) for activities materials

[2017-06-03 12:34] AshKyd opened #32 "Code of Conduct"
The code of conduct is not listed on the site presently and I can't find what it should be. This should also be part of the ticketing process.

[2017-06-03 12:40] developersteve commented on #32
Im a personal sponsor of this one if its a help https://hackcodeofconduct.org

[2017-06-03 12:43] thissophie commented on #32
Here's the one from the last campjs  http://vii.campjs.com/about/code-of-conduct/

[2017-06-05 05:31] AnnaGerber commented on #22
Here's a call for contribution for BrisJS or anyone else who wants to spread the word:

Submit stuff for the CampJS Zine!
With CampJS coming up in August and I think it would be cool to put together a Zine and print a small run for anyone who wants a copy to take home with them. [What’s a Zine? See https://en.wikipedia.org/wiki/Zine]

We need content to make this happen, so if you would like to sh

[2017-06-05 09:09] garrows opened #33 "Swag"
There seems to be no consensus on peoples preference but here is the list of suggestions:

* Shirts
* Beanies
* Socks
* Blanket
* Thermos
* Fingerless coder gloves
* Scout style hexagonal merit badge
* LED lights/glowsticks
* waterproof bluetooth speaker & flashlight https://twitter.com/pjf/status/867533341888626688

Let me know if I've missed anything.

Paige at psiscreenprinting.com.au has email

[2017-06-05 09:20] developersteve commented on #33
LED lights (Those are cheapish) and possibly glowsticks

also something i spotted recently in the realm of cool swag is a Twilio bluetooth speaker and flashlight https://twitter.com/pjf/status/867533341888626688

[2017-06-05 10:07] AnnaGerber commented on #33
Fingerless coder gloves were another suggestion

[2017-06-05 10:08] AnnaGerber commented on #33
Oh, and scout style merit badges but hexagonal

[2017-06-05 12:05] garrows commented on #33
Thanks @developersteve & @AnnaGerber

[2017-06-06 10:22] AshKyd commented on #22
I put together some random tips for working offline: https://gist.github.com/AshKyd/3cffe04037956913db1ebd00aa0a0aa3

Pull requests/vociferous editing welcome.

Edit: what are you planning to lay it out with? It might be fun to put it together in HTML using print stylesheets, I reckon it would be novel. I'll have a play if I get some time, see what that would involve :D

Edit also: do you have an

[2017-06-06 10:52] AshKyd commented on #30
This isn't something I can do. There's a bunch of stuff that's wonky and I'm not familiar enough with React to fix/restyle it in the time I have.

Branch is here if someone wants to pick it up https://github.com/AshKyd/campjs-next/tree/content-migration

[2017-06-06 11:41] AnnaGerber commented on #22
Awesome, thanks!

I was thinking pens, scissors, paper and glue + scanner or photocopier :)
Part of the appeal is focusing on the content and not on the tech

Otherwise in the past I have used Comic Life or Affinity Designer.  I used to use print stylesheets for producing eBooks & documents when I was working with Digital Editions / literature. They work ok for text-heavy stuff but it would be int

[2017-06-06 20:19] garrows commented on #30
Thanks @AshKyd. I really appreciate the contribution you did though.

[2017-06-06 21:21] garrows commented on #18
Thanks so much for putting this together @cathylill.

If we were to get 10 kids we'd have to charge $110 each kid which seems like a lot and its risky if we only get a few. Getting a sponsor to cover costs would be much better I think so I'll put the call out.

[2017-06-07 11:10] lillypiri commented on #22
Happy to contribute illustration for this!

[2017-06-10 03:15] puyo opened #34 "Pressing numbers to follow links works in dev but not in production"
The links look like this in Chrome dev tools:

[code]

Note the href!

It's something to do with passing the href down to the <A> element here, but my knowledge of React and all the libraries being used is failing me, I can't figure it out:

[code]

[2017-06-10 04:28] developersteve commented on #33
Oh this is cool too, havent seen these before and they would be fairly cheap

https://twitter.com/sitapati/status/873147584147320832

http://www.imprint5.com/au/collapsible-promotional-water-bottle-28-oz.html

[2017-06-14 05:59] #30 closed, assigned to nobody

[2017-06-14 05:59] #32 closed, assigned to garrows

[2017-06-15 20:26] #9 closed, assigned to nobody

[2017-06-15 22:39] DamonOehlman commented on #9
@garrows did you still want more submissions, I can tweet it if you like.  Additionally, I've been putting pressure on a couple of Canva folks to submit talks (and if I'm feeling keen I might submit one as well).

[2017-06-16 05:40] marcoscaceres commented on #5
Lodged request for Foundation sponsorship from Mozilla:
https://bugzilla.mozilla.org/show_bug.cgi?id=1373529

If it get's knocked back, I'll try for just the buses.

[2017-06-18 20:25] garrows commented on #9
@DamonOehlman certainly do! Cheers.

[2017-06-19 02:13] Bondifrench commented on #7
Hi all,

what is the cut off time for buses leaving Tullamarine on Friday? and what's your plan for buses on Monday when coming back?
Coming from Sydney, it seems there is a Jetstar arriving on Friday at 1.50pm or is it too late? the next one arrives at 2.20pm.

On Friday, there seems to be some Tiger Air leaving Tullamarine at either 7.55am or 10.10am, what time would you target for buses to arri

[2017-06-19 19:41] programbo opened #41 "Recommended Pre-installs"
I've put out a call on Twitter to anyone presenting at CampJS for global modules, clone-able starter projects, or cheat sheets that will help people participate faster without thrashing the WiFi.

Also, did we host any offline docs or APIs on the intranet last year?

[2017-06-19 19:42] johnlombardo-dev commented on #41
@Bondifrench I tweeted at your Github name which does nothing at all.

[2017-06-19 22:52] Bondifrench commented on #41
Sorry @programbo as I saw your message on mobile, didn't see your first message.
https://github.com/cazala/synaptic
https://github.com/cazala/synaptic-workshop
Are the two resources I would be using most. Thx

[2017-06-20 20:54] garrows commented on #7
Hi @Bondifrench

The plan was to leave the airport 2pm Friday. I can get the 2nd bus to leave at 3pm as well if you think there'll be a fair few people on that flight.

There will be a 3rd bus leaving at after Web Directions Code closes at 5.30pm from [The Pavilion](https://www.google.com.au/maps/place/The+Pavilion/@-37.8214528,144.9684172,15z/data=!4m5!3m4!1s0x0:0x8b6404a17524fd20!8m2!3d-37.82145

[2017-06-22 22:12] garrows commented on #33
In talks with Paige from PSI Screenprinting. Here are some prices.

OPTION 1 - BLANKETS w/ EMBROIDERY
130 x Legend Life J648 Coral Fleece Blanket: $19.99 ea + gst
TOTAL: $2598.70 + gst
PLACE ORDER BY: JULY 12th
______

OPTION 2 - T-SHIRTS w/ 3 COL FRONT PRINT
130 x AS Colour 5001 Mens Staple Tee and 4002 Ladies Wafer Tee: $16.89 ea + gst
TOTAL: $2196.80 + gst
PLACE ORDER BY: JULY 12th

______

OPT

[2017-06-22 22:23] AnnaGerber commented on #33
What are your thoughts on the swag being generically CampJS branded rather than having a specific number? (I really like that about generic stuff from previous camps like the multitool)

[2017-06-22 22:26] developersteve commented on #33
Yeah thats a good idea and it opens up the possibility of things being sold outside of event planning, good way to help discount future camps!

[2017-06-23 00:36] garrows commented on #33
Just brand it like the logo text? https://pbs.twimg.com/profile_images/557816711206801408/5HuhlQiL.png

[2017-06-23 00:42] AnnaGerber commented on #33
Sounds good.

I still really like the idea of fabric badges/patches - how sweet would it be if each CampJS there was a camp-specific badge that you could sew onto your blanket?

[2017-06-23 00:45] KoryNunn commented on #33
Throwing in my votes:

**Shirts**
~Beanies~
~Socks~
~Blanket~
**Thermos**
~Fingerless coder gloves~
~Scout style hexagonal merit badge~
~LED lights/glowsticks~
~waterproof bluetooth speaker & flashlight https://twitter.com/pjf/status/867533341888626688~
**Mug** <- Top preference.

[2017-06-23 01:03] thissophie commented on #33
Blanket, beanie or thermos gets my vote.

I also love the idea of badges for the blanket in future camps.

T-shirts and mugs I already have way too many of :/

[2017-06-23 02:05] johnlombardo-dev commented on #41
Thanks a lot, @Bondifrench. It will be cool to get started with ANN and ML without learning Python.

[2017-06-23 02:13] garrows commented on #33
Good idea @AnnaGerber I'll ask for fabric badges too.

Turns out they can only do the first design so I'll change it to the text from https://pbs.twimg.com/profile_images/557816711206801408/5HuhlQiL.png later tonight.
Center align it will probably look better too.

I'll probably get a limited run of shirts and/or mugs too depending on the budget at the end. Blankets will be the minimum though.

[2017-06-25 10:34] garrows commented on #33
Some new designs
![badge](https://user-images.githubusercontent.com/205256/27515400-8408d62e-59e5-11e7-8f1d-0f91731c3364.png)
![badge-inv](https://user-images.githubusercontent.com/205256/27515398-8404c502-59e5-11e7-8ded-86cf42c530c1.png)
![blanket-a](https://user-images.githubusercontent.com/205256/27515397-84046800-59e5-11e7-8bf4-83524202db50.png)
![blanket-b](https://user-images.githubuserconte

[2017-06-25 11:21] #34 closed, assigned to lukebrooker

[2017-06-25 11:23] garrows commented on #34
@puyo I couldn't really figure it out so I removed the NextLink part which seemed to do the trick.

[2017-06-28 00:37] garrows commented on #5
Lookahead search is locked in as our first official sponsor! :tada:
Thanks you @twalve for your hard work!

[2017-06-28 00:43] garrows opened #48 "Sponsors Page"
We need to add a sponsors page to the website.

At the moment we have Lookahead search confirmed as the coffee sponsor. Digital8 is the internet/network sponsor.

I've also told the speakers if their company pays for them to come, they are added to the sponsors list too. So far its only Seer Medical (https://seermedical.com/) sending Robert Kerr.

Check https://github.com/campjs/campjs-next/issues

[2017-06-28 00:48] garrows opened #49 "Organisers Page"
We need an organiser's page added to the website so people know who is behind CampJS.

At the moment the list goes:
Glen Arrowsmith
Damon Oehlman
Craig Sharkie
Luke Brooker
Adam Brady
Maurice Butler
Anna Gerber
Cathy Lill

Much credit should also be given to Tim Oxley as the original father of CampJS.

[2017-06-28 00:49] garrows commented on #49
We should add past organisers too.

[2017-06-28 00:50] SomeoneWeird commented on #49
Sounds good.

[2017-06-28 01:58] garrows commented on #49
Oh and add @SomeoneWeird  to the list!

[2017-06-28 06:48] cathylill commented on #18
@garrows this might be of interest to you https://medium.com/leaky-abstractions/conference-childcare-part-1-helpful-thoughts-for-conference-organizers-203d2b34df5b

[2017-07-03 07:31] garrows commented on #49
Please also indicate that we highly encourage public participation and try to organise everything openly in github issues.

[2017-07-03 07:32] garrows opened #52 "Improving Diversity"
I'm looking for help to improve diversity at CampJS. Despite my best efforts, our numbers are not looking good.

The biggest issue first, the speaker list. Currently the speakers list is 4 female, 28 male. VII was 5 female, 16 male. VI was 4 female, 15 male.

The current method is targeting women in tech and inviting them to give a talk at CampJS has obvious issues especially when the invite comes

[2017-07-03 14:17] twalve commented on #48
I'll take a look! Should be the same requirements as the Team page.

Do you fancy adding me to the organisation in anticipation? :)

[2017-07-03 21:32] garrows commented on #48
@twalve I thought you already were. I've added you now.

[2017-07-03 21:33] garrows commented on #48
Also, thanks for working on this!

[2017-07-03 23:37] marcoscaceres commented on #52
hmm... this is really concerning. How does diversity look just for those who have signed up to attend? Apart from #49, could we maybe attempt to find out what assistance, if any, we can provide potential speakers to try to equalize this out a bit (e.g., mentorship, topics, etc.)?

I would give up my speaking spot in order to increase gender diversity (as I'm sure others would too). Maybe consider

[2017-07-04 01:52] AnnaGerber commented on #52
CampJs is not a conference. It's a time when our community comes together.

One of the things I love about CampJS is that we get to hear from just about everyone who attends. I can't remember whether it was CampJS II or III when the Sunday presentations of what everyone was working on went for hours - until after midnight. It was awesome. That's what CampJS is about.

Would it be better if the com

[2017-07-04 02:06] marcoscaceres commented on #52
Thanks @AnnaGerber, you are right. Thanks for your words of wisdom here.

[2017-07-04 02:08] iamkevinv commented on #52
Anna is spot on. Also, i like the idea of making it painfully obvious on materials/site that even for all the organisation that goes into making CampJS happen, it's an open un-conference which also promotes diverse access by allowing anyone to be a speaker or presenter in different ways. It's open and accepted by a friendly and forgiving community in a whole bunch of activities over the weekend. W

[2017-07-04 02:30] cathylill commented on #52
@garrows there's a fairly obvious lack of diversity among the list of organisers to start with! Some other ideas:
- Talk to local womens dev groups like Women Who Code, Girl Geek Dinners etc to get the message out about CampJS, ask the organisers of those groups what you can do to make CampJS welcoming to their members, ask them if they can put you in touch with potential speakers.
- Approach peop

[2017-07-04 02:39] cathylill commented on #52
One more - maybe set up a mentor / buddy system where you pair up new speakers with speakers who have presented at CampJS before to help put their talk together?

[2017-07-04 02:39] DamonOehlman commented on #52
@cathylill agree here, and would love to see that change.  In this particular instance though I have to give Glen a serious shoutout as I don't think CampJS VIII would have happened this year at all if he hadn't stepped up to the plate.  We do need to sort out the organisation structure so it's not so scary for people to get involved.  I'll do what I can prior to actually attending VIII to get som

[2017-07-04 02:46] DamonOehlman commented on #52
Email sent to Kay - will let you know more details as things progress.

[2017-07-04 02:57] MelissaKaulfuss commented on #52
The only way campJS can be seen as a diverse and inclusive event is to publicly be committed to it from the beginning. It's not a bridge we haven't attempted to cross (at the 11th hour) before.

I understand that people are committed to "fixing" it, but it isn't a thing to be monkey patched. It needs a public and very real commitment. I want to see a diverse group of organisers to really represent

[2017-07-04 03:08] MelissaKaulfuss commented on #52
I should also add, that Railscamps are always organised by new people each and every camp.
But, somehow diversity is always the focus of camp. It's self perpetuating. Build it and they will come (in time).

Keep in mind that not all attendees are well paid senior engineers, and to have these people able to participate an idea is subsidised/concession tickets. Railscamps/RubyConf/JSconf AU/CSSconf

[2017-07-04 03:57] AnnaGerber opened #55 "Grammar fewer vs less"
On the schedule page, the links to collapse should be either:

"Less detail" or "Fewer details" not "Less details"

Suggest: "More detail" / "Less detail"

[2017-07-04 04:00] iamkevinv commented on #52
I was just discussing things over lunch with @AnnaGerber - I can also see that a lot of the ~flack~ questions the camp or @garrows may have been hit with on twitter seems also related to a lack of communication via the site if that's the only place people have to interrogate what this event is all about. Because it's getting more attention it's also getting more scrutiny and if the information isn

[2017-07-04 04:45] DamonOehlman commented on #52
I can only imagine Mel.  We'll get it sorted.  I've gotten a lead for some NFP lawyers from Kay and will have made contact.  In all honesty I've been dodging doing the organisation creation stuff but I'll make it a priority as I think it's definitely a barrier for people getting involved with the organisation of the event (i.e. risk management).

From the perspective of spending funds to improve d

[2017-07-04 05:40] MelissaKaulfuss commented on #52
To be clear, I don't think anyone is throwing "flack" around, nor are they targeting anyone in particular. I think we should all take a moment to reflect on exactly how things are to people in under-represented groups. CampJS is a great event, but it is not free from issues and it would be great to acknowledge that any event with a large number of people present isn't always a safe space for every

[2017-07-04 06:40] AnnaGerber opened #56 "Add inclusivity info to the website"
An example of the kind of info that should be visible on the website:

http://2016.cssconf.com.au/2016/07/01/programming-inclusion.html

Was suggested via Twitter from fantastic ms fox

[2017-07-04 06:48] AnnaGerber commented on #52
The suggestion to add more inclusivity/diversity info to the website came from fantastic ms. fox on Twitter. I have created a separate issue #56 for this.

Also these suggestions from ms. fox on where to look for advice:
"There are materials out there published by @jsconfeu, @cssconfeu, @cssconfau, @jsconfau. Work of Ashe Dryden too giving actionable advice."

[2017-07-04 06:50] cathylill commented on #52
It's a shame that people posting suggestions here, where they were asked for, is somehow being interpreted as an attack on the event and organiser. And you guys can't understand why women aren't lining up to speak and attend! Not to mention that all the women in this thread have actually helped organise some aspect of the camp or offered to speak (funnily none of us are counted as official 'organi

[2017-07-04 07:08] DamonOehlman commented on #56
Thanks Anna.  Read the post and all of that sounds awesome.

The only thing in that list that might be difficult to address given some of the venues is the following one:

We can definitely try and attempt to source different venues based on that requirement (and let's face it asking the question when approaching venues will help highlight the need for it). I think everything else there is somethi

[2017-07-04 07:19] garrows commented on #52
Thanks everyone for jumping in and contributing and for the kind words. It really warms my heart to see the community come together to help.

There has been a huge diversity effort from past organisers and contributors from well before I started taking lead and I'm very proud of this community for the past efforts. I initially had started listing them out but then the issue read like I was being d

[2017-07-04 07:20] AnnaGerber commented on #56
BTW this issue is for the task of adding the page to the website.

The link above is an example of an event that has a page that puts all the info in the one place to make it easy to find.  Discussions today make it clear we need a page like this for CampJS.

Let's list all of the info that is current for CampJS (i.e. what we actually do / have).

It would be great to aim for other things too but

[2017-07-04 07:32] garrows commented on #52
Oh and the organisers list was slapped together very quickly after hearing people wanted to know who was running it. It was a stub for someone to start on a page.  I didn't feel comfortable putting people on there who I didn't explicitly ask. But I'm time poor so I haven't made time to ask yet. Sorry if I caused offence. Also I don't know who organised/contributed to past events.

[2017-07-04 07:44] DamonOehlman commented on #56
So...

### Diversity

👌  - probably need a more formal response team and a better understanding of how our email address is monitored.

Not something we've really advertised, but can make this happen so I think we should include it with some details on how to access the tickets.

Something we should do for the next event.

Again not something we have done yet.  But I think we should consider doing

[2017-07-04 08:18] cathylill commented on #52
@garrows no offence taken, it just seems like women are trying to have a voice here and trying to contribute to the event and yet we're being somewhat ignored and talked over. I helped organise the childcare stuff, @AnnaGerber offered to do the scheduling - both for this years camp - but we're not on the organiser's list and weren't asked to be (well I wasn't at least, and I don't see Anna's name

[2017-07-04 09:05] AnnaGerber commented on #49
Might be a good idea to indicate next to each organiser what they are helping out with (e.g. wifi), or if are a general organiser, so people who need to contact someone know who to reach out to (also add contact details)

You can add me to the list for zine and scheduling

[2017-07-04 10:59] AnnaGerber commented on #56
Captioning: http://www.whitecoatcaptioning.com/

[2017-07-04 11:26] garrows commented on #49
Going to publish this list tonight. Is there anybody I have missed or who doesn't want to be listed?

[2017-07-04 11:31] Bondifrench commented on #7
Sorry for the late answer, leaving at 7am sounds perfect.

[2017-07-04 11:57] AnnaGerber commented on #56
One more piece of information that should go on the website (not sure whether on this page or elsewhere on the site) that is specific to CampJS because it's a code retreat rather than a conference, is that we don't have a traditional talk approval/rejection process, other than filtering out obvious spam and not accepting more submissions when we start to run out of slots, as well as putting people

[2017-07-04 12:28] garrows commented on #49
@twalve have you got a profile pic of your face for the organisers page? Would be best if you were identifiable.

[2017-07-04 12:31] garrows commented on #48
@twalve you need to accept organisation invites these days. You should have an email or just go to https://github.com/campjs to accept.

[2017-07-04 12:35] MelissaKaulfuss commented on #52
Here are some goals to work towards for this camp and camps in the future.

1. Learn about how others feel when they are in a minority group, educate yourselves about why it's fun and important to have a bunch of different people in the community.
2. Have a diverse team of organisers.
3. Set some diversity goals for your event (there are plenty of posts and articles about how other events tackled

[2017-07-04 12:36] garrows commented on #49
@cathylill do you have a real face profile pic I can use too?

[2017-07-04 12:53] AshKyd commented on #22
Bumping this one, I've sent some top secret illustrations to privately to Anna because I want it to be a surprise

Also I think @jwulf agreed to submit a two-page spread for Magikcraft last night at BrisJS ^_^

[2017-07-04 13:16] garrows commented on #49
I took some liberties on titles. Let me know if there needs to be changes. Still need to do proper profile pictures and update emails.

[2017-07-04 13:17] #55 closed, assigned to nobody

[2017-07-04 13:27] DamonOehlman commented on #56
@AnnaGerber I wonder if we should start a separate issue thread to sort out some wording and bring it back in here once we've got something that people are (generally) happy with.  I definitely agree with what you've outlined above.

[2017-07-04 13:37] garrows commented on #52
Spent my night on the organisers page http://viii.campjs.com/organisers/

I'm up in 5 hours so I'll talk more soon.

[2017-07-04 20:40] garrows commented on #52
@MelissaKaulfuss you mentioned railscamp as a great example. I had a look at their websites and I couldn't find any mention of diversity. Maybe I'm missing something.

On another note I reached out to many women focused tech groups and got some good leads from that. It doesn't look like the call for speakers was passed on by any of them though so next time I'll explicitly ask for that to happen.

[2017-07-04 20:54] garrows commented on #56
This looks great! I've got about 40mins free this afternoon so I'll try to get as much in as I can today as a starting point.

[2017-07-04 21:27] garrows commented on #56
I updated the twitter bio to reflect its a code retreat as per your suggestion
[code]

[2017-07-04 22:21] benschwarz commented on #52
✋ Howdy!

I've a number of concerns surrounding how we got to this position—All of this happened after a few women stamped their feet and said "hey, what the hell?!".

Before then, there'd been no acknowledgement of work to be done, or a description of how CampJS are committed to addressing gender equality and balance within their community. Targets, goals, or help needed.

Again, this work has fa

[2017-07-04 22:53] lillypiri commented on #22
Do you have a due date for submissions? I can try make mine this weekend :)

[2017-07-04 23:22] iamkevinv commented on #52
Well articulated and impassioned @benschwarz! We all want to see and make as much improvement as possible. This thread can always be helped by more action of items to tackle...
If you say CSSConf has faced things and can help (and I hope my presumption is that you were involved there is right), can you empower this thread with a further digest of some lessons learned so we can share them for actio

[2017-07-04 23:23] AnnaGerber commented on #52
Summary of feedback that came in via Twitter from kgusset:

* acknowledge failures and work on them
* swap from viewsource to WeAllJS - an inclusive, moderated community
* don't use GitHub for event organisation -  barrier to people getting involved
* Put https://t.co/uuhUcgebcA into action
* key issues: isolation, alcohol, COC + 3rd party objectivity
(Paraphrased from https://twitter.com/gussetin

[2017-07-04 23:29] AnnaGerber commented on #22
Ideally by the end of next week (14th July) to allow enough time for collation and printing

I can't wait to see what you've been working on!

[2017-07-05 01:43] timoxley commented on #56
This communicates the intent much better. Good.

[2017-07-05 01:47] timoxley commented on #49
Perhaps there could be some kind of meta campjs page that gives some overview & history + links to the previous camps' websites.

edit: this is off-topic

[2017-07-05 05:48] lillypiri commented on #22
Cool. Are the specs A5 size and black&white printing?

[2017-07-05 06:03] garrows commented on #52
Thank you everyone for taking the time to provide feedback. We acknowledge we failed.
http://viii.campjs.com/news/diversity-and-inclusion/

[2017-07-05 06:07] AnnaGerber commented on #22
Yes. There's at least one 2-pager too, so if you want to spread the content across a couple of pages let me know

[2017-07-05 08:25] alexiamcdonald commented on #52
It's great this camp is being organised again. I've only just noticed all this now.

- Organisers
For next time it would be great if you gathered all the organisers first rather than tack them on later at the last minute. The organising committee should reflect the kind of diversity you are after in your camp. Encourage other people to get on board right from the very start. You shouldn't feel lik

[2017-07-06 00:28] benschwarz commented on #52
Ah, no. I'm not going to *do the work for you*. I said we'd be happy to help, but I'm not about to dive in and tell you every single thing you should do or think about to run a diverse event.

If this were a technical problem, you'd probably just read the docs right?

As I mentioned there are a tonne of resources around for this, not including the work that we conducted last year.

From the CSSCon

[2017-07-07 03:22] weilu commented on #52
I find all of this a bit much. I've been to conferences both as an attendee and as a speaker, and helped @timoxley with campjs when he was running it, and I was on the organizer list and acknowledged for my work.

__Diversity tickets__
I've always been against diversity tickets and I still am, for CampJS anyway for as long as it is a not-for-profit event. For anyone who's organized an event like c

[2017-07-07 03:56] MelissaKaulfuss commented on #52
Wow, this is a very limited view. I'm glad you're happy and have had positive experiences.
It's not the same for everyone, and I'd certainly hope that any community would be trying to lower the barrier for both entry and feeling safe and happy.

I guess that's why the tone of campJS has felt a bit weird to me from the first time I attended, just because the attitude was a "just deal with it" one.

[2017-07-07 04:01] benschwarz commented on #52
Hey @weilu, there's some good stuff in here, I've some stuff to add.

No, not as such. However:

* There **is** a discrepancy between men and women in regards to renumeration. On average women earn somewhere between 70—80 cents to every dollar that a male counterpart would make for the same work.
* Because childcare can be very expensive, it's commonplace for ladies to stay at home and **do all th

[2017-07-07 04:25] weilu commented on #52
My view may be limited and the experience personal, but it's mine and is genuine. I don't apologize for what's said.

I don't get why a statement like "Artificially increasing it could hurt the quality of the talks." could be "offensive, hurtful". "untrue" it may be. I said "could" and I did state why I think so: "serial mainstream speakers might refrain from submitting RFPs in fear that they redu

[2017-07-07 04:40] weilu commented on #52
@benschwarz

That number has been quoted many times but is it really the same work? http://freakonomics.com/podcast/the-true-story-of-the-gender-pay-gap-a-new-freakonomics-radio-podcast/ The essence is that female tends to prioritize flexibility when it comes to work because of our other responsibilities like kids.

Or ask the partner to babysit. May not be an option for single Mums, sure. I'm not

[2017-07-07 04:40] MelissaKaulfuss commented on #52
It's not my place to suggest how to improve the event tbh and I certainly don't want to force anyone to change. I had a conversation on twitter with another female who was wondering whether they should attend or not, and I got approached by one of this years organisers to suggest some ways things could be improved. I thought I'd try to be helpful so that we could look at making it a better place a

[2017-07-07 04:50] weilu commented on #52
That escalated quickly. Look @MelissaKaulfuss, I was simply stating my __personal__ opinions and experience. I'm sorry you feel offended. Please know that it was never my intention to upset you in anyway.

I'm going to restate it here: all the above opinions are my own and not the views of any campjs organizers.

[2017-07-07 04:55] MelissaKaulfuss commented on #52
No need to apologise!

[2017-07-07 05:05] DamonOehlman commented on #52
Hey Folks - while this is a very, __very__ important topic (and one I'll completely admit to being very under-educated on), I think it's likely that the thread has yielded as much good (and actionable) information as it probably will.

While closing the issue is not appropriate (as it's definitely not a resolved issue) I think it became a little divisive quite early, and may continue to do so.  IM

[2017-07-07 13:20] garrows commented on #49
@timoxley I know its off topic but I think we should break tradition of recreating the website each year. Luke did the design but copying over content was a huge overhead that I could have lived without.

[2017-07-07 13:32] garrows commented on #33
I've ordered 200 badges & 170 blankets.

I think I'll scrap the idea of getting shirts as well. Cuts too much into the budget.

[2017-07-07 15:02] garrows opened #61 "Move general discussions to WeAllJS"
Started private (but discoverable) campjs channel in WeAllJS as per the rules. Need to direct people there on the website.

[2017-07-07 15:05] garrows opened #62 "Change "Schedule" to "available / optional sessions" or similar"

[2017-07-07 15:06] garrows opened #63 "Create a feedback form"

[2017-07-07 15:17] garrows commented on #61
Wording could use some improvement http://viii.campjs.com/get-involved/

[2017-07-07 15:19] garrows commented on #62
I think I got the right vibe across.

http://viii.campjs.com/schedule/

Didnt implement a redirect for the URL yet though.

[2017-07-07 15:19] garrows commented on #63
Not too sure about the wording or the form. Feedback highly appreciated here.
http://viii.campjs.com/feedback/

[2017-07-07 15:35] garrows commented on #52
I added some changes to the site based on feedback (note there is still heaps more to be done).

https://github.com/campjs/campjs-next/pull/64

I'd value some proof reading as I'm not the best with words. I created issues for each of the changes with some light detail.

[2017-07-07 15:37] garrows opened #65 "Close call for speakers"
I didnt put a close date initially since I didnt know how long it would take to fill up.

[2017-07-08 05:42] AnnaGerber commented on #52
Thank you for the feedback and advice so far.  We have a lot of work that needs to be done to make CampJS a welcoming, inclusive event for everyone.

Here's a end of week summary of what the team is doing so far:
* published a [statement](http://viii.campjs.com/news/diversity-and-inclusion/) acknowledging that we failed and making a commitment to do better
* added more people to the organisers tea

[2017-07-09 01:39] benschwarz commented on #52
I was referring to ladies at home, in general. There are so many reasons why financial support can be helpful. Lowering the price of entry removes a barrier for a lot of people.

If you're unsure about how female friendly an event you know nothing about, who the organisers are, or any other doubt you may have… at LEAST you'll know that it's a nominal price and that you're not wasting money.

---

[2017-07-09 02:48] #65 closed, assigned to nobody

[2017-07-09 03:10] garrows commented on #61
There was some feedback in slack about this from one of the WeAllJS admins.

[2017-07-10 01:14] garrows commented on #49
Need to add @digitalcraft (Jeff Lynne) too as an the internet/networking organiser

[2017-07-10 01:24] twalve commented on #49
I can fix this up tonight!

[2017-07-10 09:12] garrows commented on #49
Thank you twalve!

[2017-07-11 03:29] garrows commented on #19
@cathylill also suggested daytime only tickets in slack and kids tickets. I'll have to talk to the venue for pricing.

[2017-07-11 04:21] garrows commented on #7
This is what I've just requested a booking for. The Monday morning coaches might get over bookeded but based on ticket sale's answers, it looks fine.

Bus: 50 Seater Coach
From: Tullamarine Airport
To: Lord Somers Camp, Cnr of Lord Somers Rd and Parklands Avenue, Somers VIC 3927
Pickup stop: Russell Court
Start: 1.00pm 4th August

Bus: 50 Seater Coach
From: Tullamarine Airport
To: Lord Somers Camp

[2017-07-11 04:54] jwulf commented on #48
Just Digital People are sending The Legendary Josh Wulf™ - As Seen on the Internet®. Can we add them to the sponsors' page, please?

[2017-07-11 05:02] jwulf commented on #48
![jdp - sponsored by](https://user-images.githubusercontent.com/406975/28051778-f246f2fe-6649-11e7-8bf6-91d78e6b1c40.jpg)

[2017-07-11 21:11] garrows commented on #11
Reopened this as I'd like to add some more.

One event @alexiamcdonald fell down some stairs and wasn't able to contact anyone via phone or wifi and had to wait 10 minutes before someone heard her.  https://github.com/campjs/campjs-next/issues/52#issuecomment-313036406

We should make a big effort this year to ensure that even the dorms are covered by wifi.

We should also have a way on the local

[2017-07-11 21:14] garrows opened #77 "Intranet Emergency Contact System"
Looking for a way that someone on the local intranet could contact the organisers in case of emergency.

It must not require any external resources in case the internet is down.

The intent is to improve safety after @alexiamcdonald fell down some stairs and wasn't able to contact anyone via phone or wifi and had to wait 10 minutes before someone heard her. https://github.com/campjs/campjs-next/is

[2017-07-12 06:42] garrows commented on #77
It's been pointed out that the incident was at the Sydney venue and the Melb venue has much better mobile coverage so 000 should work. I'll try to check with the venue though.

It'd still be cool to have an intranet chat method though.

[2017-07-12 06:45] #63 closed, assigned to nobody

[2017-07-12 06:46] #62 closed, assigned to nobody

[2017-07-12 06:46] #61 closed, assigned to nobody

[2017-07-13 06:53] cathylill commented on #77
https://www.opengarden.com/firechat.html maybe?

[2017-07-13 08:17] garrows commented on #77
@cathylill good suggestion. I think I'll close this one and just put firechat on the recommended installs list https://github.com/campjs/campjs-next/issues/41

[2017-07-13 08:17] #77 closed, assigned to nobody

[2017-07-13 08:18] garrows commented on #41
@programbo can you add firechat to your list? https://www.opengarden.com/firechat.html

[2017-07-13 08:20] garrows commented on #8
Going to close this as we aren't going to have time to do it this camp.

[2017-07-13 08:20] #8 closed, assigned to garrows

[2017-07-13 08:41] garrows opened #79 "Bar Staff"
This camp we are going to have a bar serving free beer & wine staffed an RSA certified bartender.

We chose this option because there are several inclusivity issues with the previous event's supplied alcohol method and there has been even more issues the time we just did BYO. Note small amounts of BYO alcohol are permitted. See http://viii.campjs.com/food/ for more details.

Jodie Arrowsmith (my l

[2017-07-14 12:56] twalve commented on #79
I used to be RSA certified. Happy to get that reestablished if possible?

[2017-07-14 12:58] garrows commented on #79
@twalve yes! That'd be great. Thanks!

[2017-07-14 14:00] garrows commented on #33
Ordered and paid for. Shipping to @marcosc's office to bring to the camp.
No shirts :cry:

[2017-07-14 14:00] #33 closed, assigned to nobody

[2017-07-14 14:01] garrows commented on #29
RedBubble is sponsoring :tada: Rodger Wang to film again!!!

[2017-07-14 14:05] #7 closed, assigned to nobody

[2017-07-16 03:18] AnnaGerber opened #84 "Add locations for bus pick up points to website"
Based on comment that come in on viewsource campjs slack:

would be good to have the exact locations (perhaps a map) for the bus pick up / drop off points on the website

Related to #7

[2017-07-16 12:33] #5 closed, assigned to DamonOehlman

[2017-07-16 12:44] #11 closed, assigned to nobody

[2017-07-16 13:36] garrows opened #86 "PA & Projector Hire"
Not sure where we've hired this from in the past. Can anyone help with gathering quotes?

@rvagg?

[2017-07-16 13:39] garrows commented on #52
Some relative news
http://viii.campjs.com/news/diversity-community-tickets/
http://viii.campjs.com/news/ticket-sales-paused/

[2017-07-16 14:22] twalve commented on #84
I've contacted both Avalon Airport and the Arts Centre for details on where we can park a bus for pick-ups. Will update the page when that data comes through

[2017-07-16 20:24] garrows commented on #84
Thanks @twalve. Tullamarine airport is the one you want. Not many flights go to Avalon so we've never sent a bus there.

Also, this was the CBD pickup point last time
Federation Square Bus Loop
Russell Ct, Melbourne VIC 3000
https://goo.gl/maps/cHryLW32dHu

[2017-07-17 03:46] AnnaGerber commented on #86
As soon as we know what projectors are being used, it would be good to be able to update the speakers on the resolution(s) supported.

[2017-07-18 21:02] #49 closed, assigned to nobody

[2017-07-18 21:03] #48 closed, assigned to nobody

[2017-07-19 06:30] garrows commented on #84
This is the CBD pickup point. Same as last Melbourne camp.

https://www.google.com.au/maps/place/Federation+Square+Bus+Loop/@-37.8168135,144.9703966,18z/data=!4m13!1m7!3m6!1s0x6ad642c99e207041:0xc358d059bfe29278!2sRussell+St,+Melbourne+VIC!3b1!8m2!3d-37.8119251!4d144.9676339!3m4!1s0x0:0xf2ccbfb329ad42c5!8m2!3d-37.8172078!4d144.9701692

[2017-07-19 06:32] garrows commented on #7
This is the Russel Court I was referring to which doesn't look like it's a court anymore....
https://www.google.com.au/maps/place/Federation+Square+Bus+Loop/@-37.8168135,144.9703966,18z/data=!4m13!1m7!3m6!1s0x6ad642c99e207041:0xc358d059bfe29278!2sRussell+St,+Melbourne+VIC!3b1!8m2!3d-37.8119251!4d144.9676339!3m4!1s0x0:0xf2ccbfb329ad42c5!8m2!3d-37.8172078!4d144.9701692

[2017-07-19 06:34] garrows commented on #10
@digitalcraft is also the caretaker of the power boards & extension leads also loaned out to Rails Camp.

[2017-07-23 01:06] #18 closed, assigned to nobody

[2017-07-23 01:07] #19 closed, assigned to nobody

[2017-07-23 21:33] garrows opened #91 "Final Issues"
Got a great information dump from Tim. Writing down here so it's not lost in slack history.

Before Friday
- [x] Hire fridges 2 x 2 glass door ($770 including delivery from exhire.com.au)
- [x] Zine intro text
- [x] Find bus contact people
- [x] Certified First Aid Person
- [x] Check sponsor agreements met
- [x] Hire heaters ($206 last time for around 3. Venue organised last time)
- [ ] Hire lecte

[2017-07-24 00:56] thissophie commented on #86
@garrows mentioned "Hire 5 x Projectors & screens ($600 including delivery from projectorhiremelbourne.com) Need to upgrade projectors" in #91

Has anyone picked this up, or can I help out by making some calls to get some quotes?

I'm guessing we'll also need a speaker + mixer + mic(s) for each space as well (maybe not the workshop room(s)).

[2017-07-24 02:49] garrows commented on #86
@thepatrick Thank you!!!
Yes we will need that too. I don't have any details on what we got last time unfortunately.

[2017-07-24 04:02] AnnaGerber commented on #22
Submissions to the zine are now closed (unless you have already contacted me) so that we have enough time for editing and printing

[2017-07-24 04:22] thissophie commented on #86
djwarehouse (who I think we used for the Sydney-ish camp last year):

For the main hall & the two talks areas: https://www.djwarehouse.com.au/collections/party-hire/products/jbl-prx-100-sound-system ($89 w/ mixer, add $20 for 2 microphones)

For the workshops area: https://www.djwarehouse.com.au/collections/microphones/products/microphone-pa-100-system  ($79, 1 speaker + microphone, particularly u

[2017-07-24 04:39] thissophie commented on #86
pojectorhiremelbourne.com

Full HD 4000 Projectors = $160
80" Pull Up Screens = $40

1000W PA Speakers = $80
700W PA Speaker = $40
Speaker stands $10

Microphones $10

[2017-07-24 06:13] garrows commented on #86
Thanks @thepatrick. I'll confirm what the venue has then can you get an invoice? Also we had 100" screens last melbourne but not sure if 20" is a deal breaker or not.

[2017-07-24 06:26] thissophie commented on #86
projectorhiremelbourne.com are $40 for a 100" tripod screen, or $60 for a 100" pull up, so we could go to the tripod for no extra cost.

[2017-07-24 06:27] thissophie commented on #86
Do we have someone who can pick things up on Friday / drop them back on the Monday? I'd do it but I can't drive a car 😀

[2017-07-24 06:31] garrows commented on #86
Do they offer delivery per chance? I doubt everything will fit in 1 car anyway.

[2017-07-24 06:46] thissophie commented on #86
Just finished speaking with projecthiremelbourne.com.au, he's sending through a quote but invoice is provided on the day of pickup/delivery.

I've asked him to quote deliery as well.

This is the verbal quote:

3 x 1080p projectors = $420
2 x 720p projectors = $240
5 x 100" tripod screens = $100
4 x 15" active speakers, with stands = $200
4 x microphones = $40

[2017-07-24 06:53] thissophie commented on #86
Ok, total is $1000 (as above) + $200 for delivery & pick up.

I've booked in the hire itself (because it can be canceled, and didn't require any payment).

[2017-07-24 07:07] thissophie commented on #86
Quote is here https://github.com/campjs/campjs-next/pull/92

[2017-07-25 05:56] garrows opened #94 "Lanyards & Name Tags"
Spoke with @MauriceButler and he kindly volunteered.
Needs to have organiser's phone numbers in case of emergency and code of conduct violations.
Dont forget the viii.campjs.com/sponsors (not the speaker sponsors)

[2017-07-25 05:59] #10 closed, assigned to nobody

[2017-07-25 06:15] garrows opened #95 "Shopping List"
- Towels
- Soap
- Toothbrushes
- Toothpaste
- Juice
- Flavoured milk
- Ginger beer
- Fruit
- Nuts
- Bottled water
- Bottle openers
- Cups
- Wine cups
- Tea
- Glow sticks
- USB sticks
- First aid kit?
- Small stickers for ID checks
- Deodorant
- Shampoo
- Pads
- Tampons
- Baby wipes

[2017-07-25 06:37] AnnaGerber commented on #95
Also from the inclusivity discussions, bathroom basics:
- deodorant
- shampoo
- pads
- tampons
- baby wipes

- Colored dot stickers for indicating photography ok / not ok on lanyards
- ear plugs

Will there be coffee pod machines?
- coffee pods
- decaf coffee pods

- milo
- soy milk

[2017-07-25 07:16] #56 closed, assigned to nobody

[2017-07-25 23:07] garrows commented on #95
Thanks @AnnaGerber. Coffee is sponsored by Lookahead so they are handling that.
Earplugs & photography stuff is already sorted.

[2017-07-26 06:24] thissophie commented on #86
Pulled from #92 - delivery will be on Friday between 2-3PM.

[2017-07-26 20:47] garrows commented on #86
Hey @thepatrick sorry to do this but can you change the order? I spoke with the venue and they have projectors in the main hall (old VGA ones), a PA system and screens. Looks like we'll need:
3 x 1080p projectors
3 x 100" tripod screens
3 x 15" active speakers, with stands
3 x microphones

Sorry about the change. It's' hard to get a hold of the venue.

@AnnaGerber you can tell the speakers that th

[2017-07-27 09:22] AnnaGerber commented on #91
I spoke to @iamkevinv about being a bus contact person today, now that he has booked his flights 🎉

[2017-07-27 13:50] iamkevinv commented on #91
Yep I'm scheduled to be there before the first bus at 1pm. Let me know how I can help.

[2017-07-28 01:18] MauriceButler commented on #94
Tracking down cheap lanyards etc has been done. getting from https://www.aacidsolutions.com.au

Invoice #100

I still need to sort the actual paper / cardboard etc to go into the sleeves

[2017-07-30 20:19] garrows commented on #94
Thanks again @MauriceButler. I hear you've even sorted out the printing too so I'll close this.

[2017-07-30 20:19] #94 closed, assigned to MauriceButler

[2017-07-31 00:32] MauriceButler opened #105 "Put schedule into Lanyard so can be consumed any which way"

[2017-07-31 05:07] thissophie commented on #86
@garrows I've sent that request through, will update when I get confirmation

[2017-07-31 07:18] thissophie commented on #86
Response:

[2017-07-31 07:24] DamonOehlman commented on #86
@thepatrick @garrows when we get an invoice for this just drop it in as per the normal format, and I'll make the transfer across :)

[2017-07-31 08:30] garrows commented on #86
Awesome! Thanks @thepatrick.

[2017-07-31 09:48] garrows commented on #84
Called Tullamarine airport. This is exactly where charted busses pick people up.
https://goo.gl/maps/cVzEvD7tq9k

[2017-07-31 10:03] garrows commented on #84
Web Directions Code meeting point https://goo.gl/maps/f3MBGxpCakE2

[2017-08-02 01:14] AnnaGerber commented on #41
From Josh Wulf:

Participants in the Magikcraft workshop need to have a Minecraft client installed.

If you don't already have Minecraft installed:

1. Download the Magikcraft client from client.magikcraft.io.
2. Enter your Minecraft user credentials (if you don't have a Minecraft account, purchase a Minecraft account gift card from JB HiFi / Coles / 711 for $25, then redeem it at Minecraft.net).

[2017-08-02 01:14] AnnaGerber commented on #41
From Christopher Biggs:
Okay, things to install if you want to get all IOTish in Node.

First install a recent version of nodejs.  Use the official nodejs tarballs because if you have a linux box the packaged node builds are ancient.

Second, install these OS packages

    mosquitto
    mosquitto-clients

Then, all the below are NPM modules, install the musts, consider the shoulds

Must have
    h

[2017-08-02 01:21] AnnaGerber commented on #41
From Julie Grundy:
ARIA Authoring Best Practices: https://www.w3.org/TR/wai-aria-practices/
Accessibility Dev Tools for Chrome: https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en
A11y Project: http://a11yproject.com/
And some resources I frequently recommend, so they might come up even though I'm not addressing them specifically:

WebAIM's pl

[2017-08-02 01:23] AnnaGerber commented on #41
From Joshua Paling: git, and the npm package ‘prettier’

From Brad Barrow: https://github.com/airbnb/react-sketchapp

[2017-08-02 01:26] AnnaGerber commented on #41
From Tommy Williams
NPM packages:

phonegap -- CLI (global npm install) -- https://www.npmjs.com/package/phonegap
cordova -- CLI (global npm install) -- https://www.npmjs.com/package/cordova
ios-sim -- tool to help launching the iOS Simulator from the CLI -- https://www.npmjs.com/package/ios-sim
ios-deploy -- tool to help launching iOS apps on an actual device -- https://www.npmjs.com/package/ios-

[2017-08-02 01:58] johnlombardo-dev commented on #41
# Install these to make your CampJS life better...

### CLI version of the CampJS Website
[code]

### Git
Installation instructions: https://git-scm.com/book/en/v2/Getting-Started-Installing-Git

### npmrc

[code]

### FireChat

Download for [iOS](https://itunes.apple.com/app/id719829352?mt=8&&referrer=click%3De70bf721-a2db-4fba-b41e-246a94b1ae58) and [Android](https://play.google.com/store/apps/d

[2017-08-02 02:25] AnnaGerber commented on #41
From Bondi French:
Here are a few additional Libraries for Machine-Learning in Javascript:
Weblas https://www.npmjs.com/package/weblas

ndarray https://www.npmjs.com/package/ndarray with docs: https://github.com/scijs/scijs-ndarray-for-matlab-users
ndarray-ops https://www.npmjs.com/package/ndarray-ops
ndarray-pack https://www.npmjs.com/package/ndarray-pack
ndarray-fill https://www.npmjs.com/packag

[2017-08-02 02:41] AnnaGerber commented on #41
Do you want to build a robot?

Examples in this talk will use a Raspberry Pi. If you want to experiment, your Raspberry Pi will need Raspbian, a recent version of node, and serialport, johnny-five and raspi-io installed from npm

Instructions here:
https://github.com/nebrius/raspi-io/wiki/Getting-a-Raspberry-Pi-ready-for-NodeBots

[2017-08-02 04:59] AnnaGerber commented on #41
From Rob Kerr and Isabell Kiral-Kornek

https://robisateam.github.io/courses/d3-course/
https://robisateam.github.io/courses/threejs-course/

Also docs and examples from https://threejs.org/ and https://d3js.org/

[2017-08-02 05:00] AnnaGerber commented on #41
From Mikey Williams

- starter project repositories on GitHub
  - https://github.com/dominictarr/pull-stream-examples
  - https://github.com/pull-stream/pull-stream-workshop
- Cheatsheets or API reference material
  - https://pull-stream.github.io
  - https://github.com/hyperhype/hyperscript
  - https://github.com/Raynos/continuable
  - https://github.com/Raynos/observ
  - https://github.com/depje

[2017-08-02 07:24] garrows commented on #79
Ive hired someone from http://www.zestbars.com.au/ for Saturday & Sunday night for $50/hr with no callout fee from 7pm to 11pm ($400 total).

Jodie wont be able to staff the bar during the day anymore but I think that daytime unstaffed is fine.

@twalve can you help me staff it on Friday night please?

[2017-08-02 07:24] #79 closed, assigned to nobody

[2017-08-02 07:51] #29 closed, assigned to DamonOehlman

[2017-08-02 07:52] garrows commented on #22
Ok to close this?

[2017-08-02 07:52] #22 closed, assigned to AnnaGerber

[2017-08-02 07:53] #52 closed, assigned to nobody

[2017-08-02 07:54] #86 closed, assigned to thissophie

[2017-08-02 07:55] garrows commented on #95
Sorted by a woolies order https://github.com/campjs/campjs-next/pull/107

[2017-08-02 07:55] #95 closed, assigned to nobody

[2017-08-02 08:32] AnnaGerber commented on #22
Yep, a limited run of around 50 zines have been printed (due to suitcase size / weight limitations).
I can provide a PDF for anyone else who wants to print their own.

[2017-08-02 11:44] #84 closed, assigned to nobody

[2017-08-02 13:05] luke-john commented on #41
Starter Kits for anyone wanting to try out the `glamorous` css-in-js framework I'll be talking about.

* Create React App with `glamorous`, `glamor`, `jest-glamor-react` and `polished`
  * https://github.com/luke-john/campjs-glamorous-typescript **with typescript**
  * https://github.com/luke-john/campjs-glamorous

[2017-08-02 13:57] KoryNunn commented on #41
Mine just needs node 6 or above, and the ability to connect to a wifi hotspot/router.

[2017-08-03 02:05] dannyshaw commented on #41
Offline documentation readers and pre-downloading relevant docsets:

Mac:
https://kapeli.com/dash

Linux/Windows/Mac:
https://zealdocs.org/

[2017-08-03 05:31] bkbooth opened #110 "CLI install not working"
Installing the npm global and running it doesn't work

[code]

When I open http://localhost:3000/ in the browser I just see `Cannot GET /`.

I've cloned the repo and I'm using the dev server instead, but others are probably going to hit this tonight and/or tomorrow.

If versions have anything to do with it I'm using node v8.2.1 and npm v5.3.0

[2017-08-04 21:02] AnnaGerber commented on #41
From Phil Nash:
-   [Dexie](http://dexie.org/)
-   [PouchDB](https://pouchdb.com/)
-   [idb](https://github.com/jakearchibald/idb)
-   [localForage](https://github.com/localForage/localForage)
-   [idb-keyval](https://github.com/jakearchibald/idb-keyval)

[2017-08-10 06:22] garrows commented on #105
too slow :(

[2017-08-10 06:22] #105 closed, assigned to nobody

[2017-08-10 06:24] garrows commented on #41
Thanks again for putting this together.

[2017-08-10 06:24] #41 closed, assigned to nobody

[2017-08-10 06:25] #91 closed, assigned to nobody

[2017-08-10 06:32] garrows opened #116 "Overpaid Bus Invoice"
We/Mozilla managed to overpay the bus invoice by $448.20. I've asked them to refund the money to

CampJS
BSB: 064144
Acc: 10059603

@DamonOehlman once it's in there, please close the issue.

[2017-08-10 07:41] SomeoneWeird opened #118 "Rename repo"
We should rename this repo to `campjs-viii` now

[2017-08-10 21:30] garrows commented on #118
Hm... lets wait till all the budget and invoices have been sorted first.

[2017-08-11 05:00] DamonOehlman commented on #116
Funds landed. Closing issue.

[2017-08-11 05:00] #116 closed, assigned to DamonOehlman

[2017-08-11 05:59] SomeoneWeird commented on #118
Yeah for sure - just create it to track this.

[2017-08-11 06:47] jwulf commented on #52
My contribution to CampJS ix diversity has started: https://www.eventbrite.com.au/e/introduction-to-nodejs-and-expressjs-workshop-tickets-36102154516

It will take concerted, deliberate effort over a year to move the needle for CampJS ix. Let's go!

[2018-02-02 09:02] garrows commented on #118
Done

[2018-02-02 09:02] #118 closed, assigned to nobody

[2018-08-08 11:52] #110 closed, assigned to nobody